body{
	display: flex;
	flex-direction: row;
}
.oneBlock{
	width: 300px;
	margin:20px auto;
}
.oneCarousel{
	width: 200px;
	height: 200px;
	margin:0px auto;
	background-image: url(../img/2.png);
	background-size: cover;
}
.oneTimer{
	width: 100px;
	height: 20px;
	background-color: blue;
	margin:10px auto;
	text-align: center;
	padding: 20px;
	color:white;
}
.oneInfo{
	font-size: 30px;
	text-align: center;
	margin: 0px;
}
.oneIncome{
	margin:0px;
	font-size: 30px;
	text-align: center;
}